.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rowOne,
.rowTwo,
.rowThree {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.img {
  width: 60%;
  border-radius: 3px;
  margin: 0 auto;
}
