.herocontainer {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 80vh;
}

.heroname {
  position: absolute;
  top: 25%;
  z-index: 1;
  padding: 2rem;
}

.svgbackground {
  z-index: 0;
  position: relative;
  top: 0;
  left: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-and-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}

.h1 {
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
  animation-name: fade-in;
  animation-duration: 4s;
  text-shadow: 3px 2px 2px white;
}

.h2 {
  font-size: 1.7rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
  animation-name: fade-in-and-up;
  animation-duration: 4s;

  text-shadow: 3px 2px 2px white;
}
