.squareoutline {
  border: 2px solid black;
  border-radius: 3px;
  background-color: white;
  position: relative;

  z-index: 1;
}

.squareoutline:hover {
  background-color: #ff4b90;
}

.h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
  font-size: 1.5rem;
  padding: 1rem;
}

.h1:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
}
