.h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.h1:hover {
  cursor: pointer;
  text-shadow: 2px 2px 1px rgba(255, 105, 180, 0.719);
}

.link {
  text-decoration: none;
  color: black;
}
