.squareoutline {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;
  background-color: white;
  padding: 1rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 1;
}
