.title {
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: black;
  border-radius: 3px;
}

.image:hover {
  transform: scale(1.1);
}
