.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.text {
  font-size: 0.7rem;
  font-family: 'Quicksand', sans-serif;

  font-weight: 400;
}

.subheading {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.unordered {
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.img {
  width: 1.5rem;
}
