.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

.subheading {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.unordered {
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}
